body{
	margin:0px;
	background-color: #C8E7E4;
}
.logo{
	background-color: #C8E7E4;
	margin: 0px;
	padding: 0px;
}

.fb{
	display: block;
	width: 50px;
	margin-left: auto;
	margin-right: 0px;
	margin-top: 7px;
	float: right;
}
.mnu{
	position:sticky;
	top:0px;
}
.row1 ul{

	list-style:none;
	background-color: #444;
    padding: 0px;
    margin-top:-3.5px;
}
.row1 ul li{
	display:inline-block;
}
.row1 ul li a{
	text-decoration:none;
	color:white;
	padding: 20px;
	background-color:#00223333;
	display: block;
} 
.row1 ul li a:hover{
	background-color:#0864;
	position: relative;
	
}
.row1 ul li ul li{
	  display: block;
}
.row1 ul li ul{
	display:none;
}
.row1 ul li:hover ul{
	position:absolute;
	display: block;
}
.row1 ul li ul li ul{
	margin-left:100%;
	margin-top:-58px;
}
.row1 ul li:hover ul li ul{
	display: none;
}
.row1 ul li ul li:hover ul{
	display: block;
}
.abt{
	background-color: #C8E7E4;
    width: 80%;
    height: 220px;
    margin-top: 40px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.abt1{
	background-color: white;
	width: 26%;
	height: 220px;
	float:left;
	margin: 0px 0px auto 50px;
}
h6{
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
}
.txt1{
	font-size:15px;
	text-align: center;
	text-align: justif
	padding: 0px 20px;
	margin-top: -40px;
}
.cmp{
	background-color: white;
	width: 28%;
	height: 220px;
	margin: 0px 5px auto 20px;
	float:left;
	
}
.txt2{
	font-size:15px;
	text-align: center;
	text-align: justify;
	padding: 0px 20px;
	margin-top: -40px;
}
.ser{
	background-color: white;
	width: 28%;
	height: 220px;
	margin: 0px 0px auto 20px;
	float:left;
}
.txt3{
	font-size:15px;
	text-align: center;
	text-align: justify;
	padding: 0px 20px;
	margin-top: -40px;
}
h2{
	font-size: 40px;
	margin-left: 30px;
	padding-top: 20px;
}
h3{
	font-size: 30px;
	margin-left:30px;
	padding-top: 0px;
	margin-right: 30px;
	text-align: left;
}
h1{
	text-align: center;
	margin-top: 40px;
}
.glry{
	background-color: #C8E7E4;
    width: 80%;
    height: 220px;
    margin-top: 20px;
    margin-left: 135px;
    margin-bottom: 20px;
}
.g1{
	background-color: #ff9933;
	width: 25%;
	height: 220px;
	margin: 0px 0px auto 0px;
	float:left;
}
.g2{
	background-color: white;
	width: 25%;
	height: 220px;
	margin: 0px 0px auto 0px;
	float:left;
	text-align: right;
	font-size: 40px;
}
.g3{
	background-color: #E2F0F0;
	width: 25.5%;
	height: 220px;
	margin: 0px 0px auto 0px;
	float:left;	
	text-align: left;
	font-size: 40px;
}
.g4{
	background-color: green;
	width: 24.5%;
	height: 220px;
	margin: 0px 0px auto 0px;
	float:left;
}
p{
	margin-top:5px;
	margin-left: 20px;
	padding: 5px 20px;
}
h5{
	margin-top:50px;
}
.ccc1{
	width: 80%;
	background-color: white;
	height: 400px;
	margin-left: 120px;
	margin-top: 50px;
}
.ccc2{
	width: 69%;
	background-color: white;
	height: 400px;
    float:left;
}
.cnt{
	background-color: white;
    width: 100%;
    height: 400px;  
    margin-top:-33px;  
}
.cntnt{
	font-size:16px;
	text-align: center;
	text-align: justify;
	margin-left: 0px;
	margin-right: 40px;
}
.sbhedr{
	font-size:14px;
	text-align: center;
	text-align: justify;
	margin-left: 0px;
	margin-right: 40px;
}
.ccc3{
	width: 30%;
	height: 350px;
	background-color: white;
	float:left;
	margin-top: 40px;
}
.nav{
	width: 90%;
	height: 300px;
	background-color: white;
	margin-top: -20px;
	margin-left: 5px;
}
h4{
   font-size: 30px;
   margin-top: 20px;
   margin-bottom:0px;
   background-color: white;
   font-family: serif;
   padding: 10px;
}
.nav ul{
	height: 310px;
	width: 85%;
	list-style: none;
	background-color:white;
    padding: 20px;
    margin-top: 0px;
}
.nav ul li{
	background-color: #D5E7E7;
}
.nav ul li ul{
	display: none;
	height: 100px;
	width: 90%;
	padding: 0px;
}
.nav ul li a{
    text-decoration: none;
    display: block;
    font-size: 20px;
    height: 60px;
    color: #6E73C4;
    margin: 0px;
    margin-left: 10px;
}
.nav ul li:hover a{
	background-color:#D5E7E7;
	margin-left: 10px;
}
.nav ul li ul li{
	display:block;
}
.nav ul li:hover ul{
	display: block;
	height: 110px;
	width: 100%;
	position: relative;
	background-color: #1A6161;
}
.nav ul li:hover ul li ul{
	display: none;
	
}
.nav ul li ul li:hover ul{
	display: block;
	height: 174px;
	width: 100%;
}
.over{
	width: 300px;
	height: 300px;
	background-image: url(owl.jpg);
	margin-left: 140px;
	margin-top: 20px;
	overflow: hidden;
	float: left;
}
.def{
	width:300px;
	height: 300px;
	margin-top:250px;
	transition: 0.2s;
}
.def:hover{
	width: 300px;
	height: 300px;
	margin-top:0px;
	text-align: center;
}
.dip{
	width:100%;
	height: 50px;
	background-color: #1112;
	margin:2px auto;
	text-align: center;
}

.clear{
	clear: both;
}
.pic{
	margin-top:-16px;
}
input[type = "checkbox"]{
	display:none;
}
.abc{
	display:none;
}

@media (min-width: 100px) and (max-width:700px){
.abt1{
    width: 100%;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
}
.cmp{
	width: 100%;
	height: 220px;
	margin-left: auto;
    margin-right: auto;
}
.ser{
	width: 100%;
	height: 220px;
	margin-left: auto;
    margin-right: auto;
}
.ccc1{
	width: 100%;
	height: 400px;
	margin-left:0px;
	margin-right: auto;
}
.ccc2{
	width: 100%;
	background-color: white;
	height: 550px;
	margin-left:0px;
	margin-right: auto;
}
.cnt{
    width: 100%;
    height: 400px;   
}
.ccc3{
	width: 100%;
	height: 350px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}
.nav{
	width: 100%;
	height: 300px;
	background-color: white;
  margin: 0px;
}
.glry{
	background-color: #C8E7E4;
    width: 100%;
    height: 220px;
    margin-right: auto;
    margin-left: auto;
}
.over{
	margin-left: 0px;
}
.def{
	width:100%;
	height: 300px;
	margin-top:250px;
	transition: 0.2s;
}
.def:hover{
	width:100%;
	height: 300px;
	margin-right: auto;
	text-align: center;
	margin-left: auto;
	margin-top: 0px;
}
.dip{
	width:100%;
	height: 30px;
	background-color: #1112;
	margin:10px auto;
}

.glry{
	background-color: #C8E7E4;
    width: 100%;
    height: 220px;

}
.g1{
	background-color: #ff9933;
	width: 100%;
	height: 220px;
}
.g2{
	background-color: white;
	width: 100%;
	height: 220px;
}
.g3{
	background-color: #E2F0F0;
	width: 100%;
	height: 220px;
}
.g4{
	background-color: green;
	width: 100%;
	height: 220px;
}
.row1 ul li{
		display:none;
	}
input[type="checkbox"]:checked ~ .row1 ul li{
		display: block;
}
.row1 ul{
		width:200px;
}
.abc{
	display:block;
	width:50px;
	padding: 15px;
	margin-top:-5px;
	background-color:#C4C7F4;
	
}
.fb{
	display: none;
}
}
